body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #040514;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

.container.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .title {
  position: relative;
  width: 350px;
}

.container .title .h1 {
  font-size: 2rem;
  margin: 8px 0;
}

.product-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 80px;
}

.container .card {
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
  padding: 5px;
  padding-top: 50px;
  cursor: pointer;
  background: #0f1123;
  width: 370px;
  margin: 24px;
}

.card img {
  display: flex;
  margin: 0 auto;
}

.card .product-info {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  color: #d8dcf4;
}

.card h4 {
  font-size: 1.1rem;
}

.card span {
  display: block;
}

/* next section */

.fullscreen {
  height: 100vh;
}

.fullscreen .product {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product .img {
  width: 50%;
  height: 100%;
  background: #0f1123;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  cursor: move;
  width: 500px;
}

.product-details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-details .inner {
  width: 480px;
  position: relative;
  color: #d8dcf4;
}

.inner .p {
  font-weight: 300;
}

.additonals span {
  margin-right: 16px;
}

.inner .qty-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qty-price .price {
  font-weight: 700;
  font-size: 1.4rem;
}

.qty-price .qty {
  display: flex;
  align-items: center;
}
